#income {
    width: 230px;
    padding: 3px 3px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ffffff;
    border-radius: 4px;
    background-color: #000000
}
.expense{
    width: 130px;
    padding: 3px 3px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ffffff;
    border-radius: 4px;
    background-color: #000000
    
    
}
button{
    width: 130px;
    padding: 3px 3px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid darkorchid;
    border-radius: 4px;
    background-color: green
}
html {
    background-color: #3b0952;
    color: white;
}   
::placeholder {
  color: green;
  opacity: 1; /* Firefox */
}
input[type=number] {
    
    color: white;
}

#output {
    text-align: right;
}

#t1 {
    display: none;
}
#t2 {
    display: none;
}
#t3 {
    display: none;
}
#t4 {
    display: none;
}
#t5 {
    display: none;
}

