html{
    background-color: #4B0066;
}
header{
    margin: 0px;
    padding: 0px;
    height: 10vh;
    background-color: darkslategray;
}
body{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
#title{
    margin-top: 0; 
            margin-left: 20px; 
            color: white; 
            font-family: 'Common Pixel', sans-serif;
}


#suggest{
    float: right;
    margin-right: 3vw;
}

footer {
    background-color: black;
    margin-top: auto;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer-content {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom{
    margin: 0 10vh;
    color: white;
    background-color: purple;
}

h2{
    color: white;
}

#form {
    color: white;
}

#form input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    background-color: #2E003E; 
    border: 2px solid #6A0572; 
    color: white; 
}


#form input::placeholder {
    color: #a080a0; 
}

#go {
    background-color: #6b068d;
    border: 2px solid #38023b;
    color: white;
    transition: transform 0.3s ease-in-out; /* Add a smooth transition on transform property */
}

#go:hover {
    animation: shake 0.1s infinite alternate; /* Apply the shake animation on hover, make it infinite and alternate */
}




#radio {
    display: flex;
    flex-direction: row; /* Change to row to display horizontally */
    align-items: center;
    margin: 0 5px;
    /* Adjust other styles as needed */
}

#radio input[type="radio"] {
    margin: 0 5px;
    /* Adjust other styles as needed */
}

#radio label {
    color: white;
    margin-right: 15px; /* Adjust spacing between radio button and label if needed */
}

footer {
    background-color: black;
    margin-top: auto;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer-content {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom{
    margin: 0 10vh;
    color: white;
    background-color: purple;
}

#wrapper {
    display: flex;
    flex-direction: row;
}

#port {
    background-color: darkorchid;
    color: white;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(+1px); /* Smaller movement */
    }
}
