main{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 175px 95px 150px 120px 120px 95px;
    margin: 20px 50px 75px 50px;
    gap: 30px;
    
}

#black{
    background-image: url("inflicted.png");
    color: white;
    grid-column: 1/4;
    grid-row: 1/2;
    border: 1px slategray;
    border-radius: 5px;
    
}

#turtorial{
    grid-column: 4/5;
    grid-row: 1/2;

}

#purple {
    background-color: blueviolet;
    color: white;
    grid-column: 1/-1;
    grid-row: 2/3;
    
}

.gray {
    background-image: url("tiny_grid.png");
    border: 1px slategray solid;
    border-radius: 5px;
    padding: 6px;
}

#examples{
    grid-column: 1/3;
    grid-row: 3/4;
}

#patterns{
    grid-column: 3/5;
    grid-row: 3/4;
}

#resources {
    grid-column: 1/4;
    grid-row: 4/5;
}

#layout {
    grid-column: 4/5;
    grid-row: 4/5;
}

#questions {
    grid-column: 1/3;
    grid-row: 5/5;
}

#about{
    grid-column: 3/4;
    grid-row: 5/5;
}

#news{
    grid-column: 4/5;
    grid-row: 5/5;
}

#bugs{
    grid-column: 1/-1;
    grid-row: 6/6;
}
