header{
    background-color: darkslategray;
}

#title {
    margin-top: 0;
    margin-left: 20px;
    color: white;
    font-family: 'Common Pixel', sans-serif;
    font-size: 32px;
    font-weight: bold;
}

#slogan {
    color: white;
    margin-left: 5vh; 
}

html {
    background-color: #4B0066;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#body-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 20px;
}

#doom,
#half-life {
    position: relative;
}

#doom::before,
#half-life::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    opacity: 0;
    transition: opacity 0.3s ease;
}

#doom:hover::before,
#half-life:hover::before {
    opacity: 1;
}

#doom {
    grid-column: 1;
    grid-row: 1;
    position: relative;
    top: -50px;
    background: linear-gradient(to top, rgb(161, 2, 2), rgb(184, 121, 4));
}

#doom:hover {
    background: linear-gradient(to top, rgb(161, 2, 2), rgb(184, 121, 4));
}

#half-life {
    grid-column: 2;
    grid-row: 1;
    position: relative;
    top: -50px;
    background: linear-gradient(to top, rgb(33, 41, 41), rgb(255, 51, 0), red);
}

#half-life:hover {
    background: linear-gradient(to top, rgb(33, 41, 41), rgb(255, 51, 0), red);
}

@font-face {
    font-family: 'Common Pixel';
    src: url('fonts/COMMP___.woff') format('woff');
    /* Add additional font formats here if needed */
}



.top {
    background-color: red;
    border-color: white;
    color: white;
    border-width: 0.4vh;
    margin-left: 1vw;
}

#suggest {
    float: right;
    margin-right: 3vw;
}

footer {
    background-color: black;
    margin-top: auto;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom {
    margin: 0 10vh;
    color: white;
    background-color: purple;
}

.flex-container {
    transform: scale(0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    background-attachment: fixed;
    background-size: 700px 1000px;
    color: white;
    width: 500px;
    height: 700px;
}

.image {
    width: 80%;
    max-width: 600px;
    height: auto;
    margin-bottom: 10px;
}

.text {
    font-size: 50px;
    font-weight: bold;
}